/* règles générales et pour petits écran */

/* header */
strong{
    background-color: rgb(255,0,0);
    padding: 5px;
}

strong:hover{
    color: #222222;
    background-color: #ff6666;
}





/* nav du header */
header nav{
    font-size: larger;
    text-align: center;
}

header nav a, header nav a:visited{
    color: black;
}

body ul{
    display: flex;
    justify-content: space-around;
}





/* barre de navigation */
body > nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
}

body > nav a, body > nav a:visited{
    display: block;
    color: white;
    background-color: rgb(21, 21, 30);
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

body > nav a:hover{
    color: black;
    background-color: lightgrey;
}





/* section saison */
section p:last-child a, section p:last-child a:visited{
    color: black;
}

section p:last-child a:active strong{
    background-color: rgb(255,100,100);
}





/* accueil */
.accueil{
    text-align: center;
}





/* form (NewsLetter.html) */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{
    width: 200px;
    margin: 5px;
}

button{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
    color: white;
    background-color: red;
}

button:hover{
    color: black;
    background-color: #ff6666;
}





/* section coureurs */
section#coureurs > div img{
    width: 70%;
    height: 70%;
}

#coureurs{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#coureurs h2{
    width: 100%;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #222222;
    color: white;
    border: black solid 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#coureurs h3{
    background-color: #222222;
    width: 100%;
    margin-top: 0;
    padding-top: 2%;
    color: white;
    padding-bottom: 2%;
    border-bottom-left-radius: 20px;
    order: 1;
    border: black solid 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#coureurs > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}

#coureurs p{
    border-top-right-radius: 20px;
    height: 100%;
    border: #222222 solid 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li{
    list-style-type: none; /* enlève les points devant la liste */
    margin-left: 10px;
    margin-right: 10px;
}





/* général */
/* enlève le soulignement des liens */
a{
    text-decoration: none;
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

#logo{
    width: 100px;
    height: 50px;
}





/* section du classement*/
td{
    text-align: center;
}

th{
    padding-right: 7.5px;
    padding-left: 7.5px;
    background-color: red;
}

table, table *{
    border: solid black 1px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

table{
    background-color: rgb(21, 21, 30);
    margin-left: 25px;
    margin-right: 25px;
}

#classement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
}





/* footer */
footer div{
    margin-bottom: 10px;
}

footer{
    background-color: rgb(21, 21, 30);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* footer de index.html*/
footer#fin > :nth-child(n+2){
    border-top: white solid 1px;
    margin-left: 15px;
    margin-right: 15px;
}

footer#fin a:visited, footer#fin a{
    color: white;
}

footer#fin > :nth-last-child(n+2){
    margin-top: 5px;
    margin-bottom: 20px;
}

footer#fin > :last-child{
    margin-top: 5px;
}

footer#fin{
    text-align: left;
}

footer#fin > :first-child{
    padding-top: 20px;
    margin-left: 15px;
}

/* footer de histoire.html*/
footer#src{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

footer#src a:visited{
    color: white;
}

footer#src ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer#src li{
    margin: 7px;
}

/* règles pour grands écrans */
@media (min-width: 1001px){
    /* header */



    /* général */
    body > nav{
        position: sticky;
        top: 0;
    }



    /* section coureurs */
    #coureurs > div{
        width: 20%;
    }

    /* footer*/
}

@media (max-width: 1000px){
    header li:nth-child(n+2){
        display: none;
    }
}